<div class= "page-header">
<h1 class= "text-center"> Your Session </h1>
<p class= "text-center text-muted font-weight-light"> with <%= @recordingsession.client.name %> on <%= @recordingsession.start_date%>. </p> 
</div>
</br>
<h5 class="text-center"> Studio Information </h5>
</br>
<%= render partial: "studios/studio_info" %>

</br>
<h5 class="text-center">Session Information</h5>
</br>
  <ul class= "list-group">
<li class="list-group-item">Your client, <%= @recordingsession.client.name %>, is a <%= @recordingsession.client.genre%> artist. </li>
<li class="list-group-item">You're charging the client <%=number_to_currency(@recordingsession.per_hour)%> per hour for <%= hours_per_day_helper(@recordingsession) %> a day. </li>
<li class="list-group-item">Given their budget is <%= number_to_currency(@recordingsession.client.budget) %>, they have <%= days_available_helper(@recordingsession) %> for their session. </li>
<li class="list-group-item">If that doesn't seem right, you can email <%= @recordingsession.client.name %> at <%= @recordingsession.client.email %>.</li>
<li class="list-group-item">The session starts on <%= @recordingsession.start_date %> and is currently scheduled to end at <%= @recordingsession.end_date %>.</li>
</br>
<h5 class= "text-center"> Client Details </h5>
</br>
<%= band_helper(@recordingsession.client) %>
<%= drums_helper(@recordingsession.client) %>
  </p>
    </div>
  </div>

<br>
<div class="btn-group mx-auto">
<%= button_to 'Edit Session', edit_studio_recording_session_path(@studio, @recordingsession), method: :get, class: 'btn btn-primary mx-auto'%> 
<%= button_to 'Delete Session', recording_session_path(@recordingsession), method: :delete, :onclick => "return confirm('Are you sure you want to delete this session?')", class: "btn btn-danger"%>
</div>