 <div class="mx-auto">
  <ul class="list-group card-text">
    <li class="list-group-item"> Email:  <%= @studio.email %> </li> 
    <li class="list-group-item"> Address: <%= studio_address_helper(@studio) %> </li> 
    <li class="list-group-item">DAW:  <%= @studio.daw %> </li> 
    <%= li_rental_cost_helper(@studio) %> </li>
    <%= li_description_helper(@studio) %> </li>
  </ul>
</div>