<!DOCTYPE html>
<html>
  <head>
    <title>StudioassistantRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">StudioAssistant</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
     <%= link_to "Log In", login_path, class: "nav-item nav-link active" %>
      <%= link_to "My Sessions", recording_sessions_path, class: "nav-item nav-link" %>
      <%= link_to "This Week", %>
      <a class="nav-item nav-link disabled" href="#">Log Out</a>
    </div>
  </div>
</nav>
  
  <% flash.each do |type, msg| %>
    <%= msg %>
  <% end %>

    <%= yield %>
  </body>
</html>
